.button {
  display: flex;
  justify-content: center;

  text-transform: uppercase;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.button--blue {
  padding: 16px 0;
  width: 280px;

  background-color: #81b3d2;
  color: white;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.button--transparent {
  background-color: transparent;
}
