.button {
  display: flex;
  justify-content: center;

  text-transform: uppercase;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.button--blue {
  padding: 17px 0;
  width: 280px;

  background-color: #81b3d2;
  color: white;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.button-grey {
  width: 59px;
  height: 59px;
  position: absolute;

  top: 36px;
  right: 0;

  background-color: #e6e6e6;
  color: black;
}

.button-phone {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-mail {
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.video__button {
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: transparent;
}

.button--replay {
  top: 10px;
  left: 20px;

  background-image: url("../img/icon-video-replay.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.button--fullscreen {
  top: 10px;
  right: 20px;

  background-image: url("../img/icon-video-fullscreen.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.button--subtitles {
  top: 10px;
  right: 80px;

  background-image: url("../img/icon-video-subtitles.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.button--social-btn {
  margin: 0 3px;

  width: 47px;
  height: 47px;
  background-color: #81b3d2;
}

.social-btn--twitter {
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
  background-size: 20px 15px;
  background-position: center;
}

.social-btn--facebook {
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
  background-size: 11px 19px;
  background-position: center;
}

.social-btn--youtube {
  background-image: url("../img/icon-youtube.svg");
  background-repeat: no-repeat;
  background-size: 20px 15px;
  background-position: center;
}
.button--like{
  background-color: transparent;
}
