.feedback-form {
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
}

.feedback-form__block {
  margin: 0;
  padding: 0 20px;

  border: none;
  border-top: 1px solid #d6d6d6;
}

.feedback-form__caption {
  margin: 17px 0 0;
  padding: 0;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.feedback-form__list {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  flex-direction: column;

  &--name {
    margin: 22px 0 25px;
  }

  &--contacts {
    margin: 20px 0 28px;
  }

  &--opinion {
    margin: 20px 0 17px;
  }

  &--attractions {
    margin: 20px 0 1px;
  }
}


.feedback-form__name-item {
  margin: 0;
  margin-bottom: 20px;

  display: flex;
  align-items: baseline;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.feedback-form__contacts-item {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  display: flex;
  flex-direction: column;
  position: relative;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.feedback-form__opinion-item {
  margin: 17px 0 27px;
  padding: 0;
}

.feedback-form__attractions-item {
  margin: 12px 0 42px;
  padding: 0;
}

.feedback-form__button {
  margin: 25px 20px;
}
