.footer {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__caption {
  margin: 0;
  margin-top: 40px;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer__social-list {
  margin: 0;
  margin-top: 40px;
  padding: 0;

  width: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  list-style: none;
}

.footer__link--academy {
  margin: 40px 0 30px;
  padding: 0;
  position: relative;

  width: 130px;
  text-align: left;
}

.footer__link--academy::after {
  content: "";
  position: absolute;
  top: -3px;
  right: 0;
  width: 27px;
  height: 34px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__social-text {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  font-size: 14px;
  line-height: 26px;
}
.social-link{
  content: url("");
  width: 50px;
  height: 50px;
}
