.photo-gallery {
  margin: 0;
  padding: 0;
}

.photo-gallery__text {
  line-height: 24px;
  padding: 0 3px;
}

.photo-gallery__photo {
  margin: 0;
  padding: 0;
}

.photo-gallery__photos-list {
  margin: 0;
  padding: 0;
  width: 320px;

  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-gallery__photo-box {
  margin: 0;
  padding: 20px;

  border-top: 1px solid #d6d6d6;

  &:last-of-type {
    border-bottom: 1px solid #d6d6d6;
  }
}
