@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff"), url("../fonts/ptsansbold.woff2");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  width: 320px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@import "nav.less";
@import "main-photo";
@import "features";
@import "search-by-date";
@import "footer";
@import "text-box";
@import "button";
@import "photo-gallery";
@import "photos-info";
@import "video";
@import "feedback-form";
